.projects-page {
    align-items: flex-start;
}

.projects-section {
    margin-top: 85px;
    position: relative;
}

.projects-section {
    max-width: 1000px;
    width: 90%;
    transform: translateY(20px);
    transition: all 1s ease;
}

.projects-section.visible {
    transform: translateY(0);
}

