.letter {
    will-change: color;
    transition: color 0.5s ease;
}

.letter:hover {
    color: white;
    transition: none;
}

.a {
    color: #38a3a5; /* #B0D9B1 */
}

.b {
    color: #38a3a5; /* #B0D9B1 */
}

.c {
    color: #38a3a5; /* #B0D9B1 */
}

.d {
    color: #38a3a5; /* #B0D9B1 */
}

.x {
    color: #4dbf9d; /* #79AC78 */
}

.w {
    color: #22577a; /* #D0E7D2 */
}

.o {
    color: #38a3a5; /* #B0D9B1 */
}

.g {
    color: #247a91; /* #B0D9B1 */
}

.title {
    max-width: 74vh;
    width: 97%;
    height: auto;
    position: absolute;
}

.title-small {
    min-width: 36%;
    position: absolute;
}