
.map-options-container {
    background-color: rgba(var(--main-background-color-rgb), 0.8);
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -330px;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    font-family: var(--main-font), monospace;
}

.map-options-container.visible {
    right: 0;
}

.map-options-content {
    padding: 20px;
    color: var(--main-white-color);
}

.options-title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.settings-button {
    background-color: rgba(44, 62, 80, 0.3);
    backdrop-filter: blur(0.15rem);
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
}

.settings-button:hover {
    backdrop-filter: blur(0.25rem);
}

.settings-button svg {
    width: 100px;
    height: 100px;
}

.settings-button.rotate-clockwise {
    transform: rotate(90deg);

}

.settings-button.rotate-counterclockwise {
    transform: rotate(0deg);
}

.sliders {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.slider-label {
    font-size: 14px;
    font-weight: 600;
}

.slider-input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider-range {
    flex-grow: 1;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
}

.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--main-ui-color-light);
    cursor: pointer;
}

.slider-range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--main-ui-color-light);
    cursor: pointer;
}

.slider-number {
    width: 50px;
    padding: 5px;
    border: 1px solid var(--main-ui-color-light);
    border-radius: 3px;
    background-color: var(--main-ui-color-dark);
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.option-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.option-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button.btn-options {
    box-shadow: none;
    font-size: 2rem;
    margin: 0;
    padding: 0.3rem;
}

.button.btn-options:hover {
    transform: none;
    box-shadow: none;
}