.footer-container {
    width: 100%;
    background-color: #0C1519;
    color: white;
    font-weight: 300;
    font-family: 'Signika', sans-serif;
    border-top: 1px solid black;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.12);
}


.footer{
    display: flex;
    justify-content: space-between;
    background-color: #0C1519;
    color: var(--main-white-color);
    font-weight: 300;
    font-family: 'Signika', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}


.footer-left{
    margin-right: 1px;
    margin-top: 28px;
    font-size: 22px;
    opacity: 100%;
}

.footer-right{
    margin-left: 1px;
}

.icon-svg{
    margin-right: 5px;
}

.icon-svg:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}