.slider-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider-range {
    width: 100%;
    max-width: 14vw;
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    outline: none;
}

.slider-number {

}
