.tableContainer{
    display: flex;
    justify-content: center;
}

.table{
    width: 100%;
    background-color: #0d5227; <!-- #0d5227 , #2C5E38 -->
    border-radius: 10px;
}

.table th{
    font-family: "Arial";
    padding: 0px;
    text-align: center;
}

.letter-a {
    color: #558F56;
}

.letter-b {
    color: #558F56;
}

.letter-c{
    color: #558F56; <!-- #558F56 -->
}

.letter-x{
    color: #558F56;
}

.asia{
    height: 300px;
}