body{
    background-color: black; /* #263428 */
}

.map-container {
    position: relative;
}

.map-container .title {
    position: absolute;
    width: 850px;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -49%);
}

.linesContainer{
    font-family: "Courier New";
    white-space: pre;
    font-size: 15px;
    margin: 0px;
    background-color: #264653;
    border-radius: 40px;
    overflow: hidden;
}

.line{
    margin: 0px;
}

/* color of each letter */

.letter-a {
    color: #38a3a5; /* #B0D9B1 */
}

.letter-b {
    color: #38a3a5; /* #B0D9B1 */
}

.letter-c{
    color: #38a3a5; /* #B0D9B1 */
}

.letter-d{
    color: #38a3a5; /* #B0D9B1 */
}

.letter-x{
    color: #4dbf9d; /* #79AC78 */
}

.letter-w{
    color: #22577a; /* #D0E7D2 */
}

.letter-o{
    color: #38a3a5; /* #B0D9B1 */
}

.letter-g{
    color: #247a91; /* #B0D9B1 */
}

.letter-a,
.letter-b,
.letter-c,
.letter-d,
.letter-x,
.letter-w,
.letter-o,
.letter-g {
    transition: color 2s ease; /* Slow return to original color */
}

.letter-a:hover,
.letter-b:hover,
.letter-c:hover,
.letter-d:hover,
.letter-x:hover,
.letter-w:hover,
.letter-o:hover,
.letter-g:hover {
    color: #FFFFFF;
    transition: color 0.01s ease; /* Quick highlight on hover */
}