.tableContainer{
    display: flex;
    justify-content: center;
}

.table{
    width: 100%;
    background-color: #2C5E38;
    border-radius: 5px;
}

.table th{
    font-family: "Arial";
    padding: 0px;
    text-align: center;
}

.letter-a {
    color: #558F56;
}

.letter-b {
    color: #558F56;
}

.letter-c{
    color: #558F56;
}

.letter-x{
    color: #558F56;
}